*{box-sizing: border-box;}
body {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(30, 54%, 90%);
    font-family: "Young Serif";
}

h1{font-size: 3.125em;
    
}
h2{
    color: hsl(14, 45%, 36%);
    font-size: 2.5em;

}
p{
    font-size: 1em;
    font-family: "Outfit";
    color: hsl(30, 10%, 34%);

}
h3{
    color: hsl(332, 51%, 32%);
    font-size: 1.5625em;
    font-family: "Outfit";
}
img{
    align-items: center;
    height: auto;
    max-width: 100%;
    float: right;
    border-radius: 15px;
}
.boxer {
    margin: 10%;
    width: 50.8%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    background-color: white;
    border-radius:30px;
    padding: 2.56410256410256410256410256410256410256410256410256410256410255%;

}


.ul1{
    list-style-position: outside;
    display: flex;
    flex-direction: column;
    justify-content: left;
    border-radius: 10px;
    font-size: 1em;
    font-family: "Outfit";
    line-height:2.1875em;
    color: hsl(30, 10%, 34%);
    li::marker {color: hsl(14, 45%, 36%)};
}
.ul2{
    list-style-position: outside;
    display: flex;
    flex-direction: column;
    justify-content: left;
    border-radius: 10px;
    font-size: 1em;
    font-family: "Outfit";
    line-height:2.1875em;
    color: hsl(30, 10%, 34%);
}
ol {
  border-radius: 10px;
  font-family: "Outfit";
  line-height:1.5625em;
  li::marker {color: hsl(14, 45%, 36%); font-weight: 800};
}

.boxin{
    padding-left: 3.42857142857142857142857142857142857142857142857142857142857142%;
    background-color:hsl(330, 100%, 98%);
    padding-right: 3.42857142857142857142857142857142857142857142857142857142857142%;
    margin-top: 2.28571428571428571428571428571428571428571428571428571428571428%;
    margin-bottom: 2.28571428571428571428571428571428571428571428571428571428571428%;
    border-radius: 10px;
}
.boxos{
    display:flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
.boxis{
    width: 50%;
    text-align: left;
    margin-left: 7%;
}

.par{
    color: hsl(14, 45%, 36%)
}

hr{
    width: 100%;
    opacity: 10%;
}
